Source: hyprpaper
Section: utils
Priority: optional
Maintainer: Constantin Piber <cp.piber@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 pkgconf,
 gcc-14,
 g++-14,
 libgles-dev,
 libgl1-mesa-dev,
 libwayland-dev,
 wayland-protocols,
 libcairo2-dev,
 libpango1.0-dev,
 libmagic-dev,
 libhyprgraphics-dev,
 libhyprlang-dev (>= 0.6.0),
 libhyprutils-dev (>= 0.2.4),
 hyprwayland-scanner (>= 0.4.0),
Standards-Version: 4.6.2
Homepage: https://hyprland.org
Vcs-Browser: https://github.com/hyprwm/hyprpaper
Vcs-Git: https://github.com/hyprwm/hyprpaper.git

Package: hyprpaper
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: hyprpaper is a fast, IPC-controlled wallpaper utility
 hyprpaper is a fast, IPC-controlled wallpaper utility for Hyprland.
