[submodule "hyprlang/source"]
	path = hyprlang/source
	url = https://github.com/hyprwm/hyprlang.git
[submodule "hyprcursor/source"]
	path = hyprcursor/source
	url = https://github.com/hyprwm/hyprcursor.git
[submodule "hyprwayland-scanner/source"]
	path = hyprwayland-scanner/source
	url = https://github.com/hyprwm/hyprwayland-scanner.git
[submodule "wayland-protocols/source"]
	path = wayland-protocols/source
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "libxcb-errors/source"]
	path = libxcb-errors/source
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-errors.git
[submodule "hyprland/source"]
	path = hyprland/source
	url = https://github.com/hyprwm/Hyprland.git
[submodule "xdg-desktop-portal-hyprland/source"]
	path = xdg-desktop-portal-hyprland/source
	url = https://github.com/hyprwm/xdg-desktop-portal-hyprland
