Source: hyprspace
Section: universe/x11
Priority: optional
Maintainer: Constantin Piber <cp.piber@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 yq,
 hyprland-unstable (>= 0.52.0~1ppa1+git202511191926-fbb31503~), hyprland-unstable (<< 0.52.0~1ppa1+git202511191926-fbb315039),
 hyprland-plugin-deps,
 gcc-14,
 g++-14,
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/KZDKM/Hyprspace
Vcs-Git: https://github.com/KZDKM/Hyprspace.git

Package: hyprspace
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 hyprland-unstable (>= 0.52.0~1ppa1+git202511191926-fbb31503~), hyprland-unstable (<< 0.52.0~1ppa1+git202511191926-fbb315039),
Description: workspace overview for Hyprland
 A plugin for Hyprland that implements a workspace overview feature similar to
 that of KDE Plasma, GNOME and macOS, aimed to provide a efficient way of
 workspace and window management.
 .
 Packaged for hyprland-unstable.
