Source: hyprwayland-scanner
Section: universe/libdevel
Priority: optional
Maintainer: Constantin Piber <cp.piber@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 gcc-14,
 g++-14,
 pkgconf,
 libpugixml-dev,
Standards-Version: 4.6.2
Homepage: https://hypr.land
Vcs-Browser: https://github.com/hyprwm/hyprwayland-scanner
Vcs-Git: https://github.com/hyprwm/hyprwayland-scanner.git

Package: hyprwayland-scanner
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: A Hyprland implementation of wayland-scanner
 A Hyprland implementation of wayland-scanner, in and for C++.
