Source: hypridle
Section: universe/x11
Priority: optional
Maintainer: Constantin Piber <cp.piber@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 pkgconf,
 libwayland-dev,
 wayland-protocols,
 libsdbus-c++-dev (>= 2.0.0),
 libhyprlang-dev,
 libhyprutils-dev (>= 0.2.0),
Standards-Version: 4.6.2
Homepage: https://hyprland.org
Vcs-Browser: https://github.com/hyprwm/hypridle
Vcs-Git: https://github.com/hyprwm/hypridle.git

Package: hypridle
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 wayland-protocols,
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
