Source: hyprutils
Section: libs
Priority: optional
Maintainer: Constantin Piber <cp.piber@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 gcc-14,
 g++-14,
 pkgconf,
 libpixman-1-dev,
Standards-Version: 4.6.2
Homepage: https://hypr.land
Vcs-Browser: https://github.com/hyprwm/hyprutils
Vcs-Git: https://github.com/hyprwm/hyprutils.git

Package: libhyprutils-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libhyprutils9 (= ${binary:Version}),
 ${misc:Depends},
Breaks: hyprutils-dev
Description: Hyprutils is a small C++ library for utilities
 used across the Hypr* ecosystem.
 This package includes the build-headers for using hyprutils in your own project.

Package: libhyprutils9
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Hyprutils is a small C++ library for utilities
 used across the Hypr* ecosystem.
