Source: hyprland-plugins
Section: universe/x11
Priority: optional
Maintainer: Constantin Piber <cp.piber@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 yq,
 hyprland-unstable (>= 0.46.0~1ppa1+git202501210754-a661203b~), hyprland-unstable (<< 0.46.0~1ppa1+git202501210754-a661203b9),
 hyprland-plugin-deps,
 gcc-14,
 g++-14,
Standards-Version: 4.6.2
Homepage: https://hyprland.org/
Vcs-Browser: https://github.com/hyprwm/hyprland-plugins
Vcs-Git: https://github.com/hyprwm/hyprland-plugins.git

Package: hyprland-plugins
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 hyprland-unstable (>= 0.46.0~1ppa1+git202501210754-a661203b~), hyprland-unstable (<< 0.46.0~1ppa1+git202501210754-a661203b9),
Description: Official plugins for Hyprland.
 Packaged for hyprland-unstable.
