Source: aquamarine
Section: libs
Priority: optional
Maintainer: Constantin Piber <cp.piber@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 pkgconf,
 libgl1-mesa-dev,
 libseat-dev (>= 0.8.0),
 libinput-dev (>= 1.26.0),
 libwayland-dev,
 hyprutils-dev (>= 0.1.5),
 libpixman-1-dev,
 libdrm-dev,
 libgbm-dev,
 libudev-dev,
 libdisplay-info-dev,
 hwdata,
 hyprwayland-scanner,
 wayland-protocols,
Standards-Version: 4.6.2
Homepage: https://hyprland.org
Vcs-Browser: https://github.com/hyprwm/aquamarine
Vcs-Git: https://github.com/hyprwm/aquamarine.git

Package: libaquamarine-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libaquamarine3 (= ${binary:Version}),
 ${misc:Depends},
Breaks: aquamarine-dev
Description: Aquamarine is a very light linux rendering backend library.
 It provides basic abstractions for an application to render on a Wayland
 session (in a window) or a native DRM session.
 It is agnostic of the rendering API (Vulkan/OpenGL) and designed to be lightweight,
 performant, and minimal.
 Aquamarine provides no bindings for other languages. It is C++-only.

Package: libaquamarine3
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Breaks: aquamarine0
Description: Aquamarine is a very light linux rendering backend library.
 It provides basic abstractions for an application to render on a Wayland
 session (in a window) or a native DRM session.
 It is agnostic of the rendering API (Vulkan/OpenGL) and designed to be lightweight,
 performant, and minimal.
 Aquamarine provides no bindings for other languages. It is C++-only.
