Source: hyprlock
Section: universe/x11
Priority: optional
Maintainer: Constantin Piber <cp.piber@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 pkgconf,
 gcc-14,
 g++-14,
 libwayland-dev,
 wayland-protocols,
 libgl-dev,
 libvulkan-dev,
 libhyprlang-dev (>= 0.6.0),
 libhyprutils-dev (>= 0.8.0),
 libhyprgraphics-dev,
 libegl-dev,
 libxkbcommon-dev,
 libcairo2-dev,
 libpango1.0-dev,
 libdrm-dev,
 libgbm-dev,
 libgl1-mesa-dev,
 libpam0g-dev,
 libaudit-dev,
 libsdbus-c++-dev (>= 2.0.0),
 hyprwayland-scanner (>= 0.4.4),
Standards-Version: 4.6.2
Homepage: https://hyprland.org
Vcs-Browser: https://github.com/hyprwm/hyprlock
Vcs-Git: https://github.com/hyprwm/hyprlock.git

Package: hyprlock
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 wayland-protocols,
Description: Hyprland's simple Wayland screen locking utility
 Hyprland's simple, yet multi-threaded and GPU-accelerated screen locking utility.
 Features:
  - uses the secure ext-session-lock protocol
  - full support for fractional-scale
  - fully GPU accelerated
  - multi-threaded resource acquisition for no hitches
