Source: hyprlauncher
Section: utils
Priority: optional
Maintainer: Constantin Piber <cp.piber@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 pkgconf,
 gcc,
 g++,
 libhyprlang-dev,
 libhyprutils-dev (>= 0.10.2),
 libhyprtoolkit-dev,
 libhyprwire-dev,
 hyprwire-scanner | hello,
 libpixman-1-dev,
 libdrm-dev,
 libicu-dev,
 libfontconfig-dev,
 libqalculate-dev,
 libpugixml-dev,
 libxkbcommon-dev,
Standards-Version: 4.6.2
Homepage: https://hypr.land
Vcs-Browser: https://github.com/hyprwm/hyprlauncher
Vcs-Git: https://github.com/hyprwm/hyprlauncher.git

Package: hyprlauncher
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: A multipurpose and versatile launcher / picker
