Source: xdg-desktop-portal-hyprland
Section: admin
Priority: optional
Maintainer: Constantin Piber <cp.piber@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 meson,
 gcc-14,
 g++-14,
 pkgconf,
 qt6-base-dev,
 wayland-protocols,
 libwayland-bin,
 libwayland-dev,
 libpipewire-0.3-dev (>= 1.1.82),
 libspa-0.2-dev,
 libdrm-dev,
 libgbm-dev,
 libsdbus-c++-dev (>= 2.0.0),
 libhyprlang-dev (>= 0.2.0),
 libhyprutils-dev (>= 0.2.6),
 hyprwayland-scanner (>= 0.4.2),
Standards-Version: 4.6.2
Homepage: https://hyprland.org
Vcs-Browser: https://github.com/hyprwm/xdg-desktop-portal-hyprland
Vcs-Git: https://github.com/hyprwm/xdg-desktop-portal-hyprland.git

Package: xdg-desktop-portal-hyprland
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 wayland-protocols,
Description: An XDG Desktop Portal backend for Hyprland
