Source: hyprland
Section: universe/x11
Priority: optional
Maintainer: Constantin Piber <cp.piber@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake (>= 3.27),
 ninja-build,
 meson,
 gcc (>= 11),
 python3,
 pkgconf,
 git,
 libgl1-mesa-dev,
 libgbm-dev,
 libxkbcommon-dev,
 uuid-dev,
 libwayland-dev,
 wayland-protocols (>= 1.36),
 libcairo2-dev,
 libpango1.0-dev,
 libdrm-dev,
 libinput-dev,
 libseat-dev,
 libdisplay-info-dev,
 libliftoff-dev,
 libudev-dev,
 libxcb-util-dev,
 libxcb-xfixes0-dev,
 libxcb-icccm4-dev,
 libxcb-composite0-dev,
 libxcb-res0-dev,
 libxcb-ewmh-dev,
 libxcb-errors-dev,
 libtomlplusplus-dev,
 hwdata,
 hyprlang-dev (>= 0.3.2),
 hyprcursor-dev (>= 0.1.7),
 hyprwayland-scanner (<< 0.3.5) | hyprwayland-scanner-stable,
 xwayland,
 jq,
 cpio,
Standards-Version: 4.6.2
Homepage: https://hyprland.org/
Vcs-Browser: https://github.com/hyprwm/Hyprland
Vcs-Git: https://github.com/hyprwm/Hyprland.git
# TODO: fix generateVersion.sh

Package: hyprland
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 wayland-protocols,
Conflicts:
 hyprland-unstable,
Recommends:
 xdg-desktop-portal-hyprland | xdg-desktop-portal-wlr,
 xdg-desktop-portal-gtk,
 sway-notification-center | dunst,
 pipewire,
 wireplumber,
Description: Hyprland is a dynamic tiling Wayland compositor
 Hyprland is a dynamic tiling Wayland compositor based on wlroots that doesn't sacrifice on its looks.
 It provides the latest Wayland features, is highly customizable, has all the eyecandy, the most powerful plugins, easy IPC, much more QoL stuff than other wlr-based compositors and more...
