Source: hyprlang
Section: libs
Priority: optional
Maintainer: Constantin Piber <cp.piber@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 pkgconf,
 gcc-14,
 g++-14,
 libhyprutils-dev (>= 0.1.1),
Standards-Version: 4.6.2
Homepage: https://hyprland.org/hyprlang
Vcs-Browser: https://github.com/hyprwm/hyprlang
Vcs-Git: https://github.com/hyprwm/hyprlang.git

Package: libhyprlang-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libhyprlang2 (= ${binary:Version}),
 ${misc:Depends},
Breaks: hyprlang-dev
Description: Configuration language for linux applications.
 The hypr configuration language is an extremely efficient, yet easy to work with, configuration language for linux applications.
 It's user-friendly, easy to grasp, and easy to implement.
 This package includes the build-headers for using hyprlang in your own project.

Package: libhyprlang2
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Breaks: hyprlang1
Description: Configuration language for linux applications.
 The hypr configuration language is an extremely efficient, yet easy to work with, configuration language for linux applications.
 It's user-friendly, easy to grasp, and easy to implement.
